<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="float-right">
              <small class="text muted">
                Backend:
                <span :class="'badge badge-' + code">{{status}}</span>
              </small>
            </div>
            <h5>
              Total Nodes:
              <span class="badge badge-primary">{{nrNodes}}</span>&nbsp;
              Malicious Nodes:
              <span
                class="badge badge-primary"
              >{{maliciousCount}}</span>
              Round Number:
              <span class="badge badge-primary">{{roundNumber}}</span>
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-3 shadow-sm">
          <success-rates-chart :chart-data="successRates"></success-rates-chart>
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">number of successes in last x rounds</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3 shadow-sm">
          <reputation-chart :chart-data="reputations"></reputation-chart>
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">Reputation of nodes sorted high to low</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-3 shadow-sm">
          <malicious-chart :chart-data="maliciousRateBuckets"></malicious-chart>
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
              <small class="text-muted">Malicious rate in proportional buckets</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mb-0">
        <div class="card">
          <div class="card-body">
            <form>
              <div class="form-group form-row mb-0">
                <div class="col-md-3">
                  <button
                    type="button"
                    class="btn btn-primary btn-sm mr-2 mb-1"
                    v-bind:class="{ disabled: isDisabled}"
                    v-if="status != 'running'"
                    @click="start()"
                  >
                    <strong>Start Simulation</strong>
                  </button>
                  <button
                    type="button"
                    class="btn btn-warning btn-sm mr-2 mb-1"
                    v-bind:class="{ disabled: isDisabled}"
                    v-else
                    @click="stop()"
                  >Stop Simulation</button>
                  <button
                    type="button"
                    class="btn btn-outline-dark btn-sm mb-1"
                    v-bind:class="{ disabled: isDisabled}"
                    v-if="status == 'stopped'"
                    @click="reset()"
                  >Reset</button>
                </div>
                <div class="col">
                  <button
                    type="button"
                    class="btn btn-info btn-sm mr-1 mb-1"
                    v-bind:class="{ disabled: isDisabled}"
                    @click="takeover(-100)"
                  >
                    <strong>+100 Bots (botnet)</strong>
                  </button>
                  <button
                    type="button"
                    class="btn btn-info btn-sm mr-1 mb-1"
                    v-bind:class="{ disabled: isDisabled}"
                    @click="takeover(100)"
                  >-100 Bots (botnet)</button>
                  <button
                    type="button"
                    class="btn btn-info btn-sm mr-1 mb-1"
                    v-bind:class="{ disabled: isDisabled}"
                    @click="sybil(-100)"
                  >
                    <strong>+100 Sybil malicious</strong>
                  </button>
                  <button
                    type="button"
                    class="btn btn-info btn-sm mr-2 mb-1"
                    v-bind:class="{ disabled: isDisabled}"
                    @click="sybil(100)"
                  >+100 Sybil cooperative</button>
                </div>
                <!-- <button type="button" class="btn btn-outline-danger btn-sm mr-2" @click="quit()">Quit</button> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./components/App.js"></script>